# editorconfig.org
root = true
[*]
indent_style = sapce
indent_zie = 2
end_of_line = lf
charset = utf-8
traim_trailing_whitespace = true
insert_final_newline = true

[*.md]
traim_trailing_whitespace = false